@import '../abstracts/variables.scss';

.expenseList_comp {
    display: flex;
    justify-content: center;

    .loader_comp {
        height: 60vh;
    }

    .exListBox {
        li.exListItem {
            list-style: none;
            margin: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            .actionBtns {
                i {
                    font-size: 18px;
                    cursor: pointer;
                }

                .fa-pencil {
                    background: royalblue;
                    color: #fff;
                    padding: 18px 14px;
                    border-radius: 12px;
                    margin-right: 4px;
                }

                .fa-trash {
                    background: #e40000;
                    color: #fff;
                    padding: 18px 14px;
                    border-radius: 10px;
                }
            }
        }
    }

    .expenseListContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        color: $black;
        background: rgb(229 229 229 / 45%);
        padding: 12px 12px 12px 6px;
        border-radius: 20px;
        width: 258px;
        max-width: 258px;


        .left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;

            .icon {
                background-color: $primary_color;
                color: $white;
                border-radius: 12px;
                width: 38px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 18px;
                }
            }

            .details {
                text-align: left;

                .listPara {
                    color: $grey;
                    font-size: 12px;
                }
            }
        }
    }

}