input {
    padding: 17px 20px;
    border-radius: 5px;
    width: 280px;
    margin: 7px;
    border: none;
    background-color: #671a740f;
    font-weight: 600;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.textBox {
    .container {
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: column-reverse;
    }
}