@use '../abstracts/variables.scss' as v;

.custom-select-wrapper {
  position: relative;
  width: 320px;

  i {
    position: absolute;
    top: 22px;
    right: 0;
  }
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 17px 12px;
  width: 325px;
  border-radius: 4px;
  // font-size: 16px;
  background-color: #671a740f;
  color: #333;
  cursor: pointer;
  padding-right: 35px;
  margin: 10px;
  margin-top: 6px;
}



// .custom-select-wrapper::after {
//   content: "▼";
//   font-size: 10px;
//   color: #000000;
//   // background-color: #dfdfdf;
//   border-radius: 12px;
//   position: absolute;
//   top: 48%;
//   right: -62%;
//   transform: translateY(-50%);
//   pointer-events: none;
//   // width: 40px;
//   // height: 40px;
//   line-height: 40px;
// }

.custom-select:hover,
.custom-select:focus {
  border-color: none;
  outline: none;
  box-shadow: none;
}

.custom-select-wrapper::after:hover {
  background-color: #0056b3;
}

.selectListCon,
.textBox {

  p,
  label {
    text-align: left;
    color: v.$black;
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0px 0px 13px;
  }
}