@import '../abstracts/variables.scss';

.userProfileComp {
    display: flex;
    justify-content: center;

    .overlay {
        position: fixed;
        pointer-events: auto;
        background-color: $black;
        opacity: 0.3;
        height: 100%;
        width: 100%;
    }

    .userDetails {
        text-align: left;
        font-size: 12px;
        font-weight: 500;


        .profile {
            height: 90px;
            background: #7925a9;
            color: #ffff;
            padding: 10px 8px;

            .username {
                font-size: 15px;
            }

            i.fa.fa-user {
                font-size: 24px;
                background: $white;
                border-radius: 50%;
                display: inline-block;
                padding: 7px 12px;
                color: $primary_color;
                margin: 5px;
            }
        }

        .otherDetails {
            p.signOut {
                font-size: 14px;
            }

            ul {
                li {
                    padding: 5px 3px;
                    list-style: none;
                }
            }
        }

        p {
            padding: 2px 0px;

            i {
                padding: 0px 5px
            }
        }
    }

    .sideBarContainer {
        position: fixed;
        right: 0;
        height: 100%;
        background-color: $white;
        transform: translateX(100%);
        transition: tranform .3s ease;
    }

    .sideBarContainer.open {
        transform: translateX(0%);
        width: 190px;
    }
}