@import '../abstracts/variables.scss';

.addExpense_comp {
    display: flex;
    justify-content: center;
    align-items: center;

    .clearfix {
        padding: 12px 0;
    }

    input:focus {
        border: none;
        outline: none;
        
    }
}