@import '../abstracts/variables.scss';

.addExpense_comp {
    display: flex;
    justify-content: center;
    align-items: center;

    .clearfix {
        padding: 12px 0;
    }

    // input:focus {
    //     border: none;
    //     outline: none;
    // }

    .description.error,
    .inputAmount.error {
        border: 1px solid red;
    }

    .textBox {
        .container {
            display: flex;
            justify-content: center;
            align-items: baseline;
            flex-direction: column-reverse;

            input {
                width: 330px;
            }
        }
    }
}